@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300italic,500,500italic");
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato','Raleway'; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

a {
  text-decoration: none;
  font-size: 0.85em; }

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }

li {
  float: left;
  margin: 1em 0; }

.headings h1, .headings h2, .headings h3 {
  font-weight: bold; }

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white; }
  .App-header .companyName {
    font-size: 2em;
    float: left;
    margin-right: 3em; }
  .App-header ul {
    float: right;
    margin-left: 3em; }
    .App-header ul li {
      margin: 0 1em;
      float: left; }
  .App-header a {
    color: #ddd; }
  .App-header a:hover {
    color: #fff; }

.nop, .userMenu ul {
  padding: 0; }

.newPage {
  margin-top: 20px; }

.userMenu {
  text-align: left;
  margin: 0;
  border-right: 1px solid #555; }
  .userMenu li {
    display: block;
    float: none;
    padding-right: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer; }

.App-intro {
  width: 100%;
  font-size: large;
  height: 200px;
  margin: 20px auto; }
  .App-intro button {
    padding: 10px; }

.App-body {
  margin: 0 10% 20px; }
  .App-body .storyContainer {
    float: left;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
    min-height: 400px; }
    .App-body .storyContainer p {
      font-size: 0.85em; }

.textError {
  font-size: 0.85em;
  margin: 5px auto;
  color: #d00; }

.searchBar {
  border-top: 1px #eee solid; }
  .searchBar input, .searchBar button {
    background: #fff;
    padding: 10px 0;
    border: 1px solid #555;
    color: #555;
    outline: none;
    font-size: 0.8em; }
  .searchBar input {
    border-radius: 5px;
    width: 50%; }
  .searchBar button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
    cursor: pointer; }
  .searchBar ul {
    width: 100%;
    margin: 20px 0;
    paddng: 0;
    float: left; }

.button {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  background: none;
  outline: none; }

.eachImage {
  background: #eee;
  float: left;
  width: 200px;
  height: 200px;
  border: #aaa 1px dashed;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden; }
  .eachImage .dragSelectImage {
    padding-top: 80px;
    width: 100%;
    float: left; }

.primary {
  background: #009;
  color: #fff;
  margin: 15px;
  display: inline-block; }

.buttonContainer {
  margin-left: 20px 0; }

.review {
  width: 100%;
  height: auto;
  padding: 10px; }

.addNewProduct {
  text-align: left; }

.restaurantHead {
  margin: 1.5em 0em;
  text-align: left;
  font-weight: bold; }
  .restaurantHead div:last-child {
    text-align: right; }

.reviewDivider {
  border-bottom: 1px solid #555;
  padding: 1em 0; }

.detailsDescription {
  border-radius: 5px;
  border: 1px solid #555;
  border-bottom: none;
  float: left; }

.detailViewList {
  text-align: left;
  border-bottom: 1px solid #555;
  padding: 0.6em 1.5em; }

.detailLabel {
  font-weight: bold;
  margin: 0 1em 0 0.5em; }

.restaurantContainer {
  border: 1px solid #999;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  text-align: left; }
  .restaurantContainer div {
    width: auto;
    overflow: hidden; }
  .restaurantContainer span {
    display: inline-block; }
  .restaurantContainer .restaurantDetails {
    padding: 15px 10px;
    font-size: 0.85em; }
    .restaurantContainer .restaurantDetails .name {
      font-size: 1.5em; }
    .restaurantContainer .restaurantDetails .smallTitle {
      font-size: 1.1em;
      font-weight: bold; }
    .restaurantContainer .restaurantDetails .distance {
      font-size: 0.7em;
      text-align: right; }

.restaurantDetailsContainer {
  margin: 4em auto; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
